html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: norse-bold;
    src: url(./font/Norse-Bold.otf);
}

@font-face {
    font-family: roboto;
    src: url(./font/Roboto-Light.ttf);
}

body, input, button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background: url(./images/lightning.jpg) no-repeat;
    background-size: auto 100vh;
    height: 100vh;
    aspect-ratio: 2088/3152;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, 0.05);
    font-family: norse-bold;
    font-size: 150px;
}

#logo > img[src="./images/thor-logo.png"] {
    height: 100px;
}

#credits {
    color: white;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(243, 243, 243);
}

#explanation {
    padding: 50px;
    line-height: 2;
}

#explanation, legend {
    font-size: 25px;
    font-weight: bold;
}

fieldset {
    position: relative;
    padding: 50px;
    background-color: white;
    box-shadow: 0 1px 7px rgb(135, 135, 135);
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

legend {
    position: relative;
    top: 40px;
    margin-bottom: 30px;
}

label {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

input {
    margin-top: 6px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size: 20px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 3px black;
}

.error {
    outline: none;
    border: 1px solid rgb(172, 0, 0);
}

span#check {
    margin-top: 2px;
    letter-spacing: normal;
    font-size: 14px;
    color: rgb(174, 0, 0);
}

button {
    margin-top: 30px;
    margin-left: 50px;
    color: white;
    background-color: #596D48;
    padding: 16px 50px;
    border: 0px;
    border-radius: 15px;
    font-size: 20px;
}

#login {
    margin-left: 50px;
    margin-top: 30px;
    font-size: 16px;
}

#login > a {
    color: #596D48;
    text-decoration: none;
    font-weight: bolder;
}

a:visited {
    color: inherit;
}